.footer{
    background-color: #12181F;
    .footer-para{
        color: white;
        font-size: 17px;
        font-weight: bold;
    }
    .footer-para-color{
        color: white;
        font-size: 12px;
    }
}



.header{
    background-color: #000000;
    .header-button{
        font-size: 17px;
        color: white;
    }
    .header-color-button{
        height: 40px!important;
    font-family: Sony Sketch EF;
    font-weight: 400;
    width: 202px;
    padding: 0!important;
    display: inline-block;
    margin-right: 20px;
    background-image: linear-gradient(180deg,#033047,#91dbff)!important;
    opacity: 1;
    color: white;
    font-weight: 400;
    border-radius: 15px;
    }
    .header-color-button1{
        height: 40px!important;
        font-family: Sony Sketch EF;
        font-weight: 400;
        width: 202px;
        padding: 0!important;
        display: inline-block;
        margin-right: 20px;
        background-image: linear-gradient(0deg,#033047,#13c477)!important;
        opacity: 1;
        color: white;
        font-weight: 400;
        border-radius: 15px;
    }
    .header2{
        line-height: 0;
    }
    
   
   
}

.partners{
   background-image: url("../Media/partners.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   .heading-color{
    color: #b9e7ff;
    font-family: Source Sans Pro;
    font-size: 1.95rem;
    font-weight: 700;
    margin: 0;
   }
   .somi-color{
    text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
   }
   .partner-clr{
    text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    margin: 0!important;
   }
   .para-color{
    color: #fff;
    font-family: Source Sans Pro;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
   }
}

.vr-button{
    background-color: #000000;
    -webkit-clip-path: polygon(22% 0,100% 0,100% 100%,11% 100%);
    width: 300px;
}

.download{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 480px;
    .btn-client{
        border-radius: 0px;
        margin-left: 6rem;
        padding-left: 12rem;
        // padding-right: 3rem;
        background-color: #08f;
        border: 2px solid #1290FF ;
        // border: 4px solid #fff !important;
        // background: radial-gradient(circle,#fff 19%,#1290FF 100%);
        -webkit-clip-path: polygon(22% 0,100% 0,100% 100%,11% 100%);
        background: linear-gradient(90deg,#024675 0,#007CE5 36%,#0082F3 41%,#0083F5 44%,#007FEC 49%,#0175D7 56%,#03324B);
        padding-top: 10px;
        color: white;
        font-weight: bold;
        padding-bottom: 10px;
        margin-right: 0;
                &:hover{
            // border: none !important;
            color: none !important;
        }
    }
    .join{
        border-radius: 0px;
        margin-left: 6rem;
        padding-left: 10.5rem;
        color: white;
        font-weight: bold;
        padding-right: 3rem;
        border: 2px solid #9C2B00;
        background: linear-gradient(90deg,#9C2B00 0,#E45600 33%,#F05D00 40%,#F35F00 46%,#EE5C00 50%,#DC5100 60%,#841D00);
        position: relative;
        -webkit-clip-path: polygon(11% 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(11% 0,100% 0,100% 100%,0 100%);
        padding-top: 13px;
        padding-bottom: 13px;
        .web{
            background-color:#ff6500 !important;
            padding: 10px;
        }
    }
    .color-bdg{
      
        background-color: #FF6500 !important;
    }
}


.available{
 
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 2px solid #91dbff;
    background-image: linear-gradient(90deg,rgba(145,219,255,0) 0,rgba(145,219,255,.5) 50%,rgba(145,219,255,0));
    .text1{
        text-shadow: 0 0 8px rgb(145 219 255 / 75%);
    color: #fff;
    font-family: Sony Sketch EF;
    font-size: 2.1rem;
    font-weight: 400;

    }
}


.mechanics{
    background-image: url("../Media/mechanics.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .heading{
        color: #b9e7ff;
        font-family: Source Sans Pro;
        font-size: 2.1rem;
        font-weight: 700;
        margin: 0;
    }
    .heading1{
        color: #D10808;
        font-family: Source Sans Pro;
        font-size: 2.1rem;
        font-weight: 700;
        margin: 0;
    }
    .para{
        color: #fff;
    font-family: Source Sans Pro;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 28px;
    margin: -3px 0 0;
    }
    .somi{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    margin: 0!important;
    }
    .mech{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    margin: 0!important;
    font-weight: 900;
    }
}


.virtual{
    background-image: url("../Media/mechanics.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    .somi{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff!important;
        font-family: Source Sans Pro;
       
    } 
    .vr-ral{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff!important;
        font-family: Source Sans Pro;
        
        font-size: 3rem;

    }
    .open{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    
    }
    .para-left{
        
        font-size: 1.2rem;
        margin-top: 4rem;
        margin-right: -2.5rem;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    
    }
    .para-right{
        margin-top: 4rem;
        font-size: 1.2rem;
        margin-left: -2.5rem;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    
    }
    .vr-box{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    line-height: 1.23;
  
    }
    .img1{
        margin-left: 6rem;
        margin-top: -8rem;
    }
    .img2{
        margin-top: -7rem;
        margin-left: -6rem;
    }
    .end-para{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff!important;
        font-family: Source Sans Pro;
          font-size: 1.2rem;
    }
}


.community{
    background-image: url("../Media/community.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    .heading1{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    }
   
    .heading2{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
     font-size: 40px;
    }
    .para{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff;
        font-size: 1.3rem;
    }
}

.community-icons{
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 2px solid #ffbe00;
    background-image: linear-gradient(90deg,rgba(145,219,255,0) 0,rgba(255,190,0,.5) 50%,rgba(145,219,255,0));
}


.hero{
    position: relative;
    .hero-imgs{
        position: absolute;
        justify-content: flex-end;
        display: flex;
       
    
      
    }
    .hero-imgs1{
        position: absolute;
        justify-content: flex-end;
        display: flex;
        margin-top: 10rem;
       
    
      
    }
    .hero-imgs2{
        position: absolute;
        justify-content: flex-end;
        display: flex;
        margin-top: 22rem;
       
    
      
    }
    .hero-imgs3{
        position: absolute;
        justify-content: flex-end;
        display: flex;
        margin-top: 34rem;
       
    
      
    }
    .img1{
        cursor: pointer;
        &:hover{
            width: 250px;
        }
    }
    .video1{
        position: relative;
    
    }
    .img-text{
        
        color: #fff;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        text-shadow: -3px 3px 12px rgb(0 0 0 / 77%);
    }
}

.head1{
    background-color: #727272;
}

.calender{
    background-image: url("../Media/calender.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    
    .cal-text{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff!important;
        font-family: Source Sans Pro;
        
    } 
    .cal-text1{
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
        color: #fff!important;
        font-family: Source Sans Pro;
        font-size: 3rem;
        
    }
    .con-tainer{
        margin-bottom: -1rem;
    } 
    .add-button{
        background-color: linear-gradient(180deg,#505050,#bcbcbc);
    }
    .event{
        
        width: 100%;
        font-size: 22px;
        color: #fff;
        border-bottom: 2px solid #fff;
        text-align: center;
    }
    .meetup{
        cursor: pointer;
       
        opacity: .5;
       
    }
    .feature{
        width: 100%;
    font-size: 22px;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    margin-top: 6rem;
    }
}

@media only screen and (max-width: 600px) {
   .head{
    flex-direction: column;
    .download{
        display: flex;
    flex-direction: column;
    background-color: black;
    width: 320px;
        .btn-client{
            margin-left: -2rem;
            padding-left: 10rem;
        }
        .join{
            margin-left: -0.5rem;
            padding-left: 7rem;
        }
    }
   }
   .community{
   .twitter{
    width: 19rem !important;
   }
    .facebook{
        width: 300px !important;
    }
   }

   .virtual{
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
   }
   .hero{
    .hero-imgs{
        display: none;
    }
    .hero-imgs1{
        display: none;
    }
    .hero-imgs2{
        display: none;
    }
    .hero-imgs3{
        display: none;
    }
   }

   .virtual{
    .para-left{
        
        font-size: 1.2rem;
        margin-top: 4rem;
        margin-right: 2.5rem;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    
    }
    .para-right{
        margin-top: 4rem;
        font-size: 1.2rem;
        margin-left: 2.5rem;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    color: #fff!important;
    font-family: Source Sans Pro;
    
    }
   }

   .calender{
    .calender-table{
        width: 300px;
    }
   }
  
  }


//   .hero2-page{
//     background-image: url("../Media/2nd.png");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     height: 170vh;
//     .heading1{
//         text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
//     color: #fff;
//     font-family: Source Sans Pro;
//     font-size: 34px;
//     font-weight: 400;
//     text-transform: uppercase;
//     margin-top: 119px;
//     }
//     .heading2{
//         // margin: 0;
//     text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
//     color: #fff;
//     font-family: Source Sans Pro;
//     font-size: 50px;
//     font-weight: 700;
//     // text-transform: uppercase;
//     // line-height: 10px;
//     }
//     .partnership{
//         color: white;
//     }
//   }

 







